/* CSS files add styling rules to your content */
/*palette:
  indigo: #7e63a8
  purple: #b467a6
  yellow: #fdc94f
  bg-peach: #f9ef9f
  pink: #ef7c60
*/

#logo{
  height: 165px;
}

body {
  font-family: caudex, perpetua, serif;
  background-color: #EFE595;
  text-align: center;
}

a:link{
  text-decoration: none;
}

a:visited{
  color: #7e63a8;
}

a:hover{
  background-color: #ef7c60;
  color: white;
}

#imglink:hover, .socbar a{
  background-color: transparent;
}

#subtext{
  font-size: 1px;
}

.menu{
  max-width: 500px;
  margin: auto;
  padding: 10px;
  border: solid 2px #ef7c60;
  border-radius: 10px;
}

.menu a{
  padding: 10px;
}

.currently{
  max-width: 400px;
  margin: auto;
  padding: 15px;
}

.currently p{
  text-align: left;
}

#what{
  float: left;
  width: 30%;
  border: solid 2px #ef7c60;
  border-radius: 10px;
  padding: 15px;
  margin-right: 5%;
}

h1 {
  font-family: quicksand, helvetica, sans-serif;
  font-style: bold;
  font-size: 48px;
  color: #7e63a8;
  text-align: center;
  margin-top: 10px;
}

h2{
  font-family: quicksand, helvetica, sans-serif;
}

.socbar {
  margin-top: 20px;
  margin-bottom: 10px;
}

.socbar img{
  width: 30px;
  margin: 15px;
}

/* for about */

.about img{
  width: 300px;
}

.gallery img{
  max-width: 80%;
  max-height: 500px;
  margin: auto;
}

.bpost{
  max-width: 800px;
  margin: auto;
}

.bpost h2{
  font: bold 36px caudex, serif;
  color: #7e63a8;
  padding-bottom: 20px;
  border-bottom: 1px solid;
}

.h{
  max-width: 80%;
  margin: auto;
  padding: 10px;
  border: 1px solid #ef7c60;
  font: italic 16px caudex, serif;
  color: #ef7c60; 
  border-radius: 98%;
}

.h h3{
  font: italic 16px;
  font-weight: regular;
}

.bpost .bullet {
  height: 10px;
  width: 10px;
  background-color: #7e63a8;
  border-radius: 50%;
  margin:0px;
  float: left;
}

.bpost .epigraph pre{
  font-family: caudex, perpetua, serif;
  background-color: #EFE595;
  text-align: left;
}

.bpost .article p{
  font-family: caudex, perpetua, serif;
  background-color: #EFE595;
  text-align: left;
  margin-bottom: 50px;
}

.bpost .article img{
  max-width: 100%;
}

