/* CSS files add styling rules to your content */

body {
  font-family: caudex, serif;
  margin: 2em;
  background-color: #EFE595;
}

h1 {
  font-family: quicksand, sans-serif;
  font-style: bold;
  font-size: 48px;
  color: #7E639E;
  text-align: center;
}

h2{
  font-family: quicksand, sans-serif;
}

.tot:hover{
  filter: invert(1);
}
